@charset "uft-8";


#wrap{}

/*Header*/

#header{}

.gnb{
	width:200px;
	height:860px;
	float:left;
	background:yellow;
	text-align:center;
	
}
.gnb h1{
	margin:40px 0;
}
.gnb h1 a{color:#333;}

.menu{}
.menu li{
	margin:20px 0;
}
.menu li a{color:#333;}



/*footer*/


#footer{
	background:#F5F5CB;
	float:left;
}

.fTxt{
	width:800px;
	height:150px;	

}
.fTxt p{	
	float:left;
	margin-top:90px;
	margin-left:20px;
}

.fBox{
	width:50px;
	height:50px;
	line-height:50px; 
	text-align:center;
	background:#999;
	float:right;
	margin-top:90px; 
	margin-right:20px;
	
}

.fBox a{
	color:#fff;
	display:block;
}